In [1]:
import pycaret
import pandas as pd
import random

In [2]:

def pick_only_some(df, target_variable, number):
    df0 = df.loc[df[target_variable] ==0 ]
    df1 = df.loc[df[target_variable] ==1 ]
    how_many_0 = df0.shape[0]
    how_many_1 = df1.shape[0]
    random_indices = random.sample(range(0, how_many_0), how_many_0 - number)
    df0 = df0.drop(df0.index[random_indices])
    random_indices = random.sample(range(0, how_many_1), how_many_1 - number)
    df1 = df1.drop(df1.index[random_indices])
    df = pd.concat([df0, df1])
    return df

In [3]:
from pycaret.datasets import get_data

# data = pd.read_csv("heart.csv")

data = pd.read_csv("airline_dataset.csv", nrows = 50000)
target_variable = "DEP_DEL15"
data

,MONTH,DAY_OF_WEEK,DEP_DEL15,DEP_TIME_BLK,DISTANCE_GROUP,SEGMENT_NUMBER,CONCURRENT_FLIGHTS,NUMBER_OF_SEATS,CARRIER_NAME,AIRPORT_FLIGHTS_MONTH,...,PREVIOUS_AIRPORT,PRCP,SNOW,SNWD,TMAX,AWND,CARRIER_HISTORICAL,DEP_AIRPORT_HIST,DAY_HISTORICAL,DEP_BLOCK_HIST
0,7,7,0,1500-1559,3,3,26,160,American Airlines Inc.,19534,...,Chicago O'Hare International,0.00,0.0,0.0,95.0,4.25,0.237709,0.273236,0.222538,0.255479
1,4,1,0,1300-1359,4,4,63,50,SkyWest Airlines Inc.,18788,...,El Paso International,0.00,0.0,0.0,71.0,11.41,0.154651,0.121849,0.237972,0.197503
2,11,4,0,0001-0559,2,1,3,76,American Eagle Airlines Inc.,1148,...,NONE,0.00,0.0,0.0,54.0,0.45,0.117559,0.187867,0.139886,0.060327
3,3,2,0,1500-1559,7,5,14,143,Southwest Airlines Co.,7612,...,San Jose International,0.00,0.0,0.0,64.0,8.05,0.204389,0.141446,0.132868,0.202037
4,7,3,0,0800-0859,1,2,85,50,American Eagle Airlines Inc.,29376,...,Cincinnati/Northern Kentucky International,0.01,0.0,0.0,94.0,10.51,0.203263,0.193761,0.203027,0.113050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,5,7,1,1500-1559,4,4,11,178,Spirit Air Lines,14978,...,Friendship International,0.00,0.0,0.0,88.0,6.71,0.226031,0.241041,0.211331,0.242114
49996,12,3,0,1600-1659,1,4,48,129,Atlantic Southeast Airlines,15165,...,Allen C Thompson Field,0.00,0.0,0.0,84.0,13.65,0.243554,0.187867,0.196265,0.249617
49997,4,2,0,0900-0959,5,1,6,154,United Air Lines Inc.,3690,...,NONE,0.00,0.0,0.0,87.0,8.50,0.183223,0.187867,0.138603,0.135374
49998,4,1,0,1200-1259,3,2,27,154,United Air Lines Inc.,13675,...,Fort Lauderdale-Hollywood International,0.00,0.0,0.0,77.0,9.84,0.183223,0.225439,0.237972,0.181934
49999,7,3,1,1800-1859,2,5,4,143,Southwest Airlines Co.,1441,...,San Diego International Lindbergh Fl,0.00,0.0,0.0,101.0,12.08,0.215945,0.161329,0.203027,0.326393

In [4]:
# data =  pick_only_some(data, target_variable, 4000)

# data

In [5]:
from pycaret.classification import *
exp = ClassificationExperiment()
type(exp)

pycaret.classification.oop.ClassificationExperiment

In [6]:
# exp.setup(data, target = "target") ### this is for heart dataset
# exp.setup(data, target = target_variable) ### this is for airline dataset
exp.setup(data, target = target_variable, fix_imbalance = True) ### this is for airline dataset

In [7]:
best = exp.compare_models()

Processing:   0%|          | 0/61 [00:00<?, ?it/s]